# Задачи к теме "Основы языка Python"

In [1]:
# Python 2 and 3 compatibility
# pip install future
from __future__ import (absolute_import, division,
                        print_function, unicode_literals)
from builtins import *

## Задача A
Вычислите $2^{179}$. Выведите на экран вычисленное значение.

In [1]:
2**179

766247770432944429179173513575154591809369561091801088

## Задача B
Вычислите 20!. Выведите на экран вычисленное значение.

In [2]:
import math
math.factorial(20)

2432902008176640000

## Задача C
Вычислите длину гипотенузы в прямоугольном треугольнике со сторонами 179 и 971.

In [3]:
((179)**2+(971)**2)**(1/2)

987.361129475938

## Задача D
Запишите букву 'A' (латинскую, заглавную) 100 раз подряд. Сдайте на проверку программу, которая выводит эту строчку (только буквы, без кавычек).

In [1]:
print('A'*100)

AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA

## Задача E
Даны два целых числа. Выведите значение наибольшего из них.

In [16]:
a = int(input())
b = int(input())
if a>b:
    print(a)
else:
    print(b)

3
4
4

## Задача F
Даны два целых числа. Программа должна вывести число 1, если первое число больше второго, число 2, если второе больше первого или число 0, если они равны.

In [20]:
a = int(input())
b = int(input())
if a>b:
    print(1)
elif a<b:
    print(2)
else:
    print(0)

7
7
0

## Задача G
Число 179 записали 50 раз подряд. Полученное 150-значное число возвели в квадрат. Сколько получилось?

In [25]:
int("179"*50)**2

32105178251324397470543616689762835908982055128201274347420493566639712785858932005078151224297370443516589662735808881955028101174247320393466539612621548475402329256183110036963890817744671598525452379306233160087013940867794721648575502429356283210137063990917844771698625552479406333260187114041

## Задача H
Дано два числа a и b. Выведите гипотенузу треугольника с заданными катетами.

In [26]:
a = int(input())
b = int(input())
((a)**2+(b)**2)**(1/2)

23
53

57.77542730261716

## Задача I
Даны три целых числа. Найдите наибольшее из них (программа должна вывести ровно одно целое число).
Какое наименьшее число операторов сравнения (>, <, >=, <=) необходимо для решения этой задачи?

In [1]:
a = int(input())
b = int(input())
c = int(input())
max(a,b,c)
##Ниодного :D

3
8
4

8

## Задача J
Даны три натуральных числа a, b, c. Определите, существует ли треугольник с такими сторонами. Если треугольник существует, выведите строку YES, иначе выведите строку NO.
Треугольник — это три точки, не лежащие на одной прямой.

In [5]:
a = int(input())
b = int(input())
c = int(input())
if (a+b)>c and (a+c)>b and (b+c)>a:
    print('Yes')
else:
    print('NO')

1
3
3
Yes

## Задача K
Шахматная ладья ходит по горизонтали или вертикали. Даны две различные клетки шахматной доски, определите, может ли ладья попасть с первой клетки на вторую одним ходом.

In [28]:
print('Введите первую клетку(a-h)(1-8):')
a = str(input())
b = int(input())
print('Введите вторую клетку(a-h)(1-8):')
c = str(input())
d = int(input())
if a==c and b==d:
    print('Одна и таже клетка, Вы не тестировщик чтобы тестить')
elif a==c or b==d:
    print('YES')
else:
    print('NO')

Введите первую клетку(a-h)(1-8):
a
9
Введите вторую клетку(a-h)(1-8):
j
9
YES

## Задача L
Число $179^{10}$ записали четыре раза подряд. Из получившегося числа извлекли корень степени 10. Сколько получилось?

In [16]:
pow(int(str(179**10)*4),1/10)

1421847540.1564655

## Задача M
Дано натуральное число. Требуется определить, является ли год с данным номером високосным. Если год является високосным, то выведите YES, иначе выведите NO. Напомним, что в соответствии с григорианским календарем, год является високосным, если его номер кратен 4, но не кратен 100, а также если он кратен 400.

In [25]:
a = int(input())
if a%4!=0:
    print('NO')
elif a%100!=0:
    print('YES')
elif a%400==0:
    print('YES')
else:
    print('NO')

100
NO

# Задача N
Шахматный конь ходит буквой “Г” — на две клетки по вертикали в любом направлении и на одну клетку по горизонтали, или наоборот. Даны две различные клетки шахматной доски, определите, может ли конь попасть с первой клетки на вторую одним ходом.

In [3]:
print('Введите первую клетку(a-h)(1-8):')
x1 = ord(input())-96
y1 = int(input())
print('Введите вторую клетку(a-h)(1-8):')
x2 = ord(input())-96
y2 = int(input())
dx = abs(x1 - x2)
dy = abs(y1 - y2)
if dx == 1 and dy == 2 or dx == 2 and dy == 1:
    print('YES')
else:
    print('NO')

a
1
b
3
YES

# Задача A2
Даны два целых числа A и B (при этом A $\leq$ B). Выведите все числа от A до B включительно.

In [4]:
a = int(input())
b = int(input())
for i in range(a, b + 1):
    print(i)

4
8
4
5
6
7
8

## Задача B2
По данному натуральном n вычислите сумму $1^2+2^2+3^2+ \ldots +n^2$.

In [8]:
a = int(input())
s = 0
for i in range(1,a+1):
    s = s + i**2
print (str(s))

4
30

## Задача C2
По данному целому неотрицательному n вычислите значение n!.

In [11]:
n = int(input())
s = 1
for i in range (2,n+1):
    s = s*i
print(str(s))

3
6

## Задача D2
По данным целым неотрицательным n и k вычислите значение числа сочетаний из n элементов по k, то есть $\frac{n!}{k!(n-k)!}$.

In [14]:
def factorial(n):
    s = 1
    for i in range (2,n+1):
        s = s*i
    return s

def sochitanie(n,k):
    return (factorial(n)/(factorial(k)*factorial(n-k)))


n = int(input())
k = int(input())
print(sochitanie(n,k))

3
6
0.008333333333333333

## Задача E2
Напишите программу, которая по данному числу n от 1 до 9 выводит на экран n пингвинов. Изображение одного пингвина имеет размер 5×9 символов, между двумя соседними пингвинами также имеется пустой (из пробелов) столбец. Разрешается вывести пустой столбец после последнего пингвина. Для упрощения рисования скопируйте пингвина из примера в среду разработки.

In [21]:
penguine = ["   _~_    ",
            "  (o o)   ",
            " /  V  \ ",
            "/(  _  )\ ",
            "  ^^ ^^   "]

In [47]:
n = int(input())
penguine = ["    _~_   ",
            "  (o o)   ",
            " /  V  \  ",
            "/(  _  )\ ",
            "  ^^ ^^   "]
print(penguine[0]*n,"\n",penguine[1]*n,"\n",penguine[2]*n,"\n",penguine[3]*n,"\n",penguine[4]*n)

5
    _~_       _~_       _~_       _~_       _~_
   (o o)     (o o)     (o o)     (o o)     (o o)
  /  V  \   /  V  \   /  V  \   /  V  \   /  V  \
 /(  _  )\ /(  _  )\ /(  _  )\ /(  _  )\ /(  _  )\
   ^^ ^^     ^^ ^^     ^^ ^^     ^^ ^^     ^^ ^^

# Задача F2
Шоколадка имеет вид прямоугольника, разделенного на n×m долек. Шоколадку можно один раз разломить по прямой на две части. Определите, можно ли таким образом отломить от шоколадки ровно k долек.

In [49]:
n = int(input())
m = int(input())
k = int(input())
if k < n * m and ((k % n == 0) or (k % m == 0)):
    print('YES')
else:
    print('NO')

9
9
2
NO

## Задача G2
Дано линейное уравнение $ax + b = 0$. Решите уравнение, напечатайте ответ. Если ответов бесконечно много, выведите "INF", если их нет - "NO".

In [50]:
a=int(input())
b=int(input())
if a==0 and b==0:
    print('INF')
elif a!=0 and (b==0 or abs(a)<=abs(b)):
    print(int(-b//a))
else:
    print('NO')

4
5
-2

## Задача H2
Для данного числа n < 100 закончите фразу “На лугу пасется...” одним из возможных продолжений: “n коров”, “n корова”, “n коровы”, правильно склоняя слово “корова”.

In [54]:
n = int(input())
if n == 1:
    print ('На лугу пасется 1 карова')
elif n>1 and n<5:
    print ('На лугу пасется ',n,' каровы')
else:
    print ('На лугу пасется ',n,' каров')

0
На лугу пасется  0  каров

# Задача I2. Диофантово уравнение

Даны числа a, b, c, d. Выведите в порядке возрастания все целые числа от 0 до 1000, которые являются корнями уравнения $ax^3+bx^2+cx+d=0$.

In [62]:
a = int(input())
b = int(input())
c = int(input())
d = int(input())

for x in range(0,1001):
    if a*(x)**3 + b*(x)**2 + c*(x) + d == 0:
        print(x)

0
0
2
-4
2

## Задача J2
Квадрат трехзначного числа оканчивается тремя цифрами, равными этому числу. Найдите и выведите все такие числа.

In [63]:
for i in range(100,1000):
    if i**2%1000 == i:
        print(i)

376
625

## Задача K2
По данному натуральному $n \leq 9$ выведите лесенку из n ступенек, i-я ступенька состоит из чисел от 1 до i без пробелов.

In [5]:
n = int(input())
for i in range(1, n + 1):
    for j in range(1, i + 1):
        print(j, end='')
    print()

3
1
12
123

## Задача L2
Дано три числа. Упорядочите их в порядке неубывания. Программа должна считывать три числа a, b, c, затем программа должна менять их значения так, чтобы стали выполнены условия $a \leq b \leq c$, затем программа выводит тройку a, b, c.

In [9]:
a = int(input())
b = int(input())
c = int(input())
if a>b:
    (a,b)=(b,a)
if b>c:
    (b,c)=(c,b)
if a>b:
    (a,b)=(b,a)
print(a,b,c)

9
3
5
3 5 9

## Задача M2
Давным-давно билет на одну поездку в метро стоил 15 рубля, билет на 10 поездок стоил 125 рублей, билет на 60 поездок стоил 440 рублей. Пассажир планирует совершить n поездок. Определите, сколько билетов каждого вида он должен приобрести, чтобы суммарное количество оплаченных поездок было не меньше n, а общая стоимость приобретенных билетов — минимальна.

In [18]:
n = int(input())
a,b,c = 0,0,0
if n>=60:
    a = int(n/60)
    n = n - 60*a
if n>=10:
    b = int(n/10)
    n = n - 10*b
if n>=1:
    c = n
print('Билетов по 15 рублей: ',c,';\nБилетов по 125 рублей: ',b,';\nБилетов по 440 рублей: ',a,';\nОбщая сумма в рублях: ',c*15+b*125*a*440,';')

800
Билетов по 15 рублей:  0 ;
Билетов по 125 рублей:  2 ;
Билетов по 440 рублей:  13 ;
Общая сумма в рублях:  1430000 ;

## Задача N2. Сумма факториалов
По данному натуральном n вычислите сумму 1! + 2! + 3! + ... +n!. В решении этой задачи можно использовать только один цикл.

In [51]:
n = int(input())
f = 1
s = 0
for i in range (1,n+1):
    f*=i
    s+=f
print(s)

4
33